<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings> 
	<typeAliases>
		<typeAlias type="kr.co.acctmgmt.domain.Co" alias="Co"/>
		<typeAlias type="kr.co.acctmgmt.domain.BgtCDTerm" alias="BgtCDTerm"/>
		<typeAlias type="kr.co.acctmgmt.domain.Divs" alias="Divs"/>
		<typeAlias type="kr.co.acctmgmt.domain.BgtCD" alias="BgtCD"/>
		<typeAlias type="kr.co.acctmgmt.domain.BgtGr" alias="BgtGr"/>
		<typeAlias type="kr.co.acctmgmt.domain.BgtICF" alias="BgtICF"/>
		<typeAlias type="kr.co.acctmgmt.domain.Employee" alias="Employee"/>
		<typeAlias type="kr.co.acctmgmt.domain.User" alias="User"/>
		<typeAlias type="kr.co.acctmgmt.domain.SysCfg" alias="SysCfg"/>
		<typeAlias type="kr.co.acctmgmt.domain.BgtCDTerm" alias="BgtCDTerm"/>
		<typeAlias type="kr.co.acctmgmt.domain.ExpRefToken" alias="ExpRefToken"/>
		<typeAlias type="kr.co.acctmgmt.domain.Gisu" alias="Gisu"/>
		<typeAlias type="kr.co.acctmgmt.domain.Pjt" alias="Pjt"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="./mapper/CoMapper.xml"/>
		<mapper resource="./mapper/DivsMapper.xml"/>
		<mapper resource="./mapper/EmployeeMapper.xml"/>
		<mapper resource="./mapper/BgtCDMapper.xml"/>
		<mapper resource="./mapper/BgtGrMapper.xml"/>
    	<mapper resource="./mapper/BgtICFMapper.xml"/>
		<mapper resource="./mapper/UserMapper.xml"/>
		<mapper resource="./mapper/SysCfgMapper.xml"/>
		<mapper resource="./mapper/ExpRefTokenMapper.xml"/>
		<mapper resource="./mapper/GisuMapper.xml"/>
		<mapper resource="./mapper/PjtMapper.xml"/>
		
	</mappers>
</configuration>