<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.acctmgmt.mapper.BgtCDMapper">
	
	<select id="getDataGridData" resultType="BgtCD">
		SELECT * FROM BGTCD ;
	</select>
	<select id="getBGTCDData" parameterType="String" resultType="BgtCD">
		SELECT * FROM BGTCD where GROUP_CD=#{GROUPCD};
	</select>

	<select id="getDetailInfo" parameterType="String" resultType="BgtCD">
		SELECT CTL_FG ,BGAJUST_FG ,TO_DT , BOTTOM_FG , BIZ_FG FROM BGTCD WHERE BGT_CD=#{bgtCd};
	</select>
	<select id="getDefNmFromBGTCD_TERM" parameterType="String" resultType="String">
		SELECT DEF_NM from BGTCD_TERM where DIV_FG =#{divFg};
	</select>
	<select id="getBgtCDDataForPath" parameterType="String" resultType="BgtCD">
		SELECT * FROM BGTCD
		WHERE BGT_CD=#{bgtCd}
	</select>
	<select id="getBgtCDTerm" parameterType="String" resultType="BgtCDTerm">
		SELECT * FROM 
		BGTCD_TERM
		where CO_CD = #{coCd}
	</select>
	<select id="getDataPath" parameterType="BgtCd" resultType="String">
		SELECT DEF_NM FROM 
		BGTCD_TERM
		WHERE CO_CD=#{coCd} AND DIV_FG=#{divFg}
	</select>
	<update id="updateDetailInfo" parameterType="BgtCD">
		UPDATE BGTCD
		<set>
			<if test="ctlFg != null">CTL_FG=#{ctlFg},</if>
			<if test="bgajustFg != null">BGAJUST_FG=#{bgajustFg},</if>
			<if test="toDt != null">TO_DT=#{toDt},</if>
			<if test="bottomFg != null">BOTTOM_FG=#{bottomFg},</if>
			<if test="bizFg != null">BIZ_FG=#{bizFg},</if>
		</set>
		WHERE bgt_Cd =#{bgtCd}
	</update>
	<update id = "updateBgtCDTerm" parameterType="BgtCDTerm">
		UPDATE BGTCD_TERM
		SET DEF_NM=#{defNm}
		WHERE
		CO_CD=#{coCd} and DIV_FG=#{divFg}
	</update>
	
	<select id = "findBgcCDByGroupCdAndToDtAndKeyword" parameterType="BgtCD" resultType="BgtCD">
		SELECT *
		FROM BGTCD
		LEFT JOIN BGTGR ON BGTCD.GROUP_CD = BGTGR.BGTGR_CD
		WHERE BGTCD.CO_CD = #{coCd} 
		<if test="gisu != 0 or (gisu != null and gisu != '')">
	    AND BGTCD.GISU = #{gisu}
	 	</if>
		AND BGTCD.TO_DT >= #{toDt} 
		<if test="groupCd != null and groupCd != ''">
			AND BGTCD.GROUP_CD = #{groupCd}
		</if>
		<if test="keyword != null and keyword != ''">
	        AND (
	            BGTCD.BGT_CD LIKE CONCAT('%', #{keyword}, '%')
	            OR
	            BGTCD.BGT_NM LIKE CONCAT('%', #{keyword}, '%')
	        )
	    </if>
	</select>
	<select id="findUseParentCdSubject"  parameterType="String">
		SELECT COUNT(*) FROM BGTCD WHERE parentCd = #{bgtCd}
	</select>
	<delete id="deleteRow" parameterType="String">
		DELETE FROM BGTCD
		WHERE bgt_Cd = #{bgtCd}
	</delete>
	
	
	<select id="findBgtCdByGisuAndGroupCdAndGrFgAndBgtCd" parameterType="BgtCD" resultType="BgtCD">
		SELECT 
		    BGTICF.BGT_CD AS BGT_CD,
		    COALESCE(BGTCD_TERM.DEF_NM, BGTCD.DIV_FG) AS DIV_FG,
		    (
		        SELECT CONCAT(
		            IFNULL(GROUP_CONCAT(BGT_NM SEPARATOR '-'), ''),
		            IF(BGTCD.BGT_NM IS NOT NULL AND dataPath IS NOT NULL, '-', ''),
		            BGTCD.BGT_NM
		        )
		        FROM BGTCD bgtcd_sub
		        WHERE FIND_IN_SET(bgtcd_sub.BGT_CD, BGTCD.dataPath)
		    ) AS dataPath
		FROM
		    BGTCD
		JOIN
		    BGTICF ON BGTCD.BGT_CD = BGTICF.BGT_CD
		LEFT JOIN
		    BGTCD_TERM ON BGTCD.CO_CD = BGTCD_TERM.CO_CD AND BGTCD_TERM.DIV_FG = BGTCD.DIV_FG
		WHERE
		    BGTCD.GISU = #{gisu}
		    AND BGTICF.DIV_CD = #{divCd}
		    AND BGTCD.GROUP_CD = #{groupCd}
		    AND BGTCD.GR_FG = #{grFg}
		    AND BGTCD.CO_CD = #{coCd};
	</select>
</mapper>