<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.acctmgmt.mapper.BgtCDMapper">
	
	<select id="getDataGridData" resultType="BgtCD">
		SELECT * FROM BGTCD ;
	</select>
	<select id="getSBGTCDData" parameterType="String" resultType="BgtCD">
		SELECT * FROM BGTCD where GROUP_CD=#{GROUPCD};
	</select>

	<select id="getDetailInfo" parameterType="String" resultType="BgtCD">
		SELECT CTL_FG ,BGAJUST_FG ,TO_DT , BOTTOM_FG , BIZ_FG FROM BGTCD WHERE BGT_CD=#{bgtCd};
	</select>
	<select id="getDefNmFromBGTCD_TERM" parameterType="String" resultType="String">
		SELECT DEF_NM from BGTCD_TERM where DIV_FG =#{divFg};
	</select>
	
	<delete id="deleteRow" parameterType="String">
		DELETE FROM BGTCD
		WHERE bgt_Cd = #{bgtCd}
	</delete>
	
	<select id="getSbgtCDTerm" parameterType="String" resultType="BgtCDTerm">
		SELECT * FROM 
		BGTCD_TERM
		where CO_CD = #{CO_CD}
	</select>
	<update id="updateDetailInfo" parameterType="BgtCD">
		UPDATE BGTCD
		<set>
			<if test="ctlFg != null">CTLFG=#{ctlFg},</if>
			<if test="bgajustFg != null">BGAJUSTFG=#{bgajustFg},</if>
			<if test="toDt != null">TODT=#{toDt},</if>
			<if test="bottomFg != null">BOTTOMFG=#{bottomFg},</if>
			<if test="bizFg != null">BIZFG=#{bizFg},</if>
		</set>
		WHERE bgt_Cd =#{bgtCd}
	</update>
	<update id = "updateBgtCDTerm" parameterType="BgtCDTerm">
		UPDATE BGTCD_TERM
		SET DEF_NM=#{defNm}
		WHERE
		CO_CD=#{coCd} and DIV_FG=#{divFg}
	</update>
</mapper>