<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.BgtGrMapper">
	
	<select id="findBgtGrByCoCdAndKeyword" parameterType="BgtGr" resultType="BgtGr">
	    SELECT BGTGR_CD, BGTGR_NM 
	    FROM BGTGR 
	    WHERE CO_CD = #{coCd}
	    <if test="keyword != null and keyword != ''">
	        AND (
	            BGTGR_CD LIKE CONCAT('%', #{keyword}, '%')
	            OR
	            BGTGR_NM LIKE CONCAT('%', #{keyword}, '%')
	        )
	    </if>
	</select>
	<select id="getMaxBgtCd" parameterType="String" resultType="String">
		SELECT BGT_CD FROM BGTCD
		WHERE CO_CD=#{coCd}
		ORDER BY BGT_CD DESC
		LIMIT 1;
	</select>
	<insert id="initBgtCd" parameterType="BgtCd">
		INSERT INTO BGTCD(CO_CD,BGT_CD,PARENTCD,GROUP_CD,DIV_FG,CTL_FG,BGAJUST_FG,BOTTOM_FG,BIZ_FG,GR_FG,INSERT_ID,DATAPATH,GISU)
		VALUES
		(#{coCd},#{bgtCd},#{parentCd},#{groupCd},#{divFg},#{ctlFg},#{bgajustFg},#{bottomFg},#{bizFg},#{grFg},#{insertId},#{dataPath},#{gisu})
	</insert>
	<delete id="deleteBgtGr" parameterType="BgtGr">
		DELETE FROM BGTGR
		WHERE CO_CD = #{coCd} AND BGTGR_CD = #{bgtGrCd}
	</delete>
	
	<update id="updateBgtGr" parameterType="BgtGr">
		UPDATE BGTGR
		SET BGTGR_NM = #{bgtGrNm}
		WHERE CO_CD = #{coCd} AND BGTGR_CD = #{bgtGrCd}
	</update>
	
	<insert id="insertBgtGr" parameterType="BgtGr">
		INSERT INTO BGTGR
		(CO_CD,  BGTGR_CD,  BGTGR_NM,
		INSERT_ID) 
		VALUES(#{coCd}, #{bgtGrCd}, #{bgtGrNm}, #{insertId});
	</insert>
	
</mapper>