<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.BgtICFMapper">

	<select id="getBgtICF" parameterType="String" resultType="Bgticf">
		SELECT CO_CD FROM BGTICF WHERE CO_CD = #{coCD}
	</select>

<!-- SELECT * FROM BGTICF WHERE CO_CD = #{CO_CD} WHERE GISU = #{GISU} -->
<!-- 	<select id="getBgticfList" resultType="Bgticf">
		SELECT * FROM BGTICF
	</select> -->
	
	<select id="getBgtICFList" resultType="BgtICF">
    	SELECT * FROM BGTICF
    	WHERE CO_CD = #{coCd}
    		AND BGT_CD = #{bgtCd}
	</select>
	
	<insert id="insertBgtICF" parameterType="BgtICF">
	    INSERT INTO BGTICF (
	        CO_CD, GISU, SQ, DIV_CD, DEPT_CD, MGT_CD, BGT_CD, BGT_FG, BGT_CNT, BOTTOM_CD,
	        CARR_AM, CARR_AM1, CARR_AM2, CARR_AM3, EMP_CD, REM_DC, BGT_TY,
	        INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP
	    )
	    VALUES (
	        #{coCd}, #{gisu}, #{sq}, #{divCd}, #{deptCd}, #{mgtCd}, #{bgtCd}, #{bgtFg}, #{bgtCnt}, #{bottomCd},
	        #{carrAm}, #{carrAm1}, #{carrAm2}, #{carrAm3}, #{empCd}, #{remDc}, #{bgtTy},
	        #{insertId}, #{insertDt}, #{insertIp}, #{modifyId}, #{modifyDt}, #{modifyIp}
	    )
	</insert>

	<update id="updateBgtICF" parameterType="BgtICF">
	    UPDATE BGTICF
	    SET
	        CO_CD = #{coCd},
	        GISU = #{gisu},
	        SQ = #{sq},
	        DIV_CD = #{divCd},
	        DEPT_CD = #{deptCd},
	        MGT_CD = #{mgtCd},
	        BGT_CD = #{bgtCd},
	        BGT_FG = #{bgtFg},
	        BOTTOM_NM = #{bottomNm},
	        CARR_AM = #{carrAm},
	        CARR_AM1 = #{carrAm1},
	        CARR_AM2 = #{carrAm2},
	        CARR_AM3 = #{carrAm3},
	        EMP_CD = #{empCd},
	        REM_DC = #{remDc},
	        BGT_TY = #{bgtTy},
	        MODIFY_ID = #{modifyId},
	        MODIFY_DT = #{modifyDt},
	        MODIFY_IP = #{modifyIp}
	    WHERE
	        CO_CD = #{coCd} AND
	        GISU = #{gisu} AND
	        SQ = #{sq} AND
	        DIV_CD = #{divCd} AND
	        DEPT_CD = #{deptCd} AND
	        MGT_CD = #{mgtCd} AND
	        BGT_CD = #{bgtCd} AND
	        BGT_FG = #{bgtFg}
	</update>
	
	<delete id="deleteBgtICF" parameterType="BgtICF">
	    DELETE FROM BGTICF
	    WHERE
	    	CO_CD = #{coCd}
    		AND BGT_CD = #{bgtCd} 
	        AND sq = #{sq}
	</delete>
	
	<select id="getSumBgtICFByCoCdAndBgtCd" parameterType="BgtCD" resultType="double">
		WITH RECURSIVE CTE AS (
		    SELECT
		        bgtcd.BGT_CD,
		        bgtcd.BGT_NM,
		        bgtcd.PARENTCD,
		        bgtcd.BGT_CD AS CD_PATH,
		        1 AS LEVEL,
		         nvl(bgticf.CARR_AM, 0) AS carr_am
		    FROM bgtcd
		    LEFT JOIN bgticf ON bgticf.BGT_CD = bgtcd.BGT_CD
		    WHERE PARENTCD IS NULL
		    AND bgtcd.CO_CD = #{coCd}
		    UNION ALL
		    SELECT
		        P.BGT_CD,
		        P.BGT_NM,
		        P.parentCd,
		        CONCAT(CTE.CD_PATH, '>', P.BGT_NM) AS CD_PATH,
		        1 + LEVEL AS LEVEL,
		         nvl(bgticf.CARR_AM, 0) AS carr_am
		    FROM bgtcd P
		    INNER JOIN CTE ON P.parentCd = CTE.BGT_CD
		    LEFT JOIN bgticf ON bgticf.BGT_CD = P.BGT_CD
		    WHERE P.CO_CD = #{coCd}
		)
		SELECT
		  SUM(CARR_AM)as CARR_AM
		FROM CTE
		WHERE 
		    CTE.CD_PATH LIKE (
		        SELECT CONCAT(CD_PATH, '%') FROM CTE WHERE BGT_CD = #{bgtCd} LIMIT 1
		    )
	</select>
	
	<!-- DELETE FROM BGTICF
	    WHERE
	        CO_CD = #{coCd} AND
	        GISU = #{gisu} AND
	        SQ = #{sq} AND
	        DIV_CD = #{divCd} AND
	        DEPT_CD = #{deptCd} AND
	        MGT_CD = #{mgtCd} AND
	        BGT_CD = #{bgtCd} AND
	        BGT_FG = #{bgtFg} AND
	        BGT_CNT = #{bgtCnt} AND
	        BOTTOM_CD = #{bottomCd} -->

</mapper>