<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.BgtICFMapper">

	<select id="getBgtICF" parameterType="String" resultType="Bgticf">
		SELECT CO_CD FROM BGTICF WHERE CO_CD = #{coCD}
	</select>

<!-- SELECT * FROM BGTICF WHERE CO_CD = #{CO_CD} WHERE GISU = #{GISU} -->
<!-- 	<select id="getBgticfList" resultType="Bgticf">
		SELECT * FROM BGTICF
	</select> -->
	
	<select id="getBgtICFList" resultType="BgtICF">
	    SELECT *, 
	    <if test="bgtFg == 2">
	    pjt.PJT_CD as mgtCd, pjt.PJT_NM as mgtNm, 
	    </if>
	    <if test="bgtFg == 1">
	    dept.dept_CD as mgtCd, dept.dept_NM as mgtNm,
	     </if>
	    emp.emp_NAME
	    FROM BGTICF
	    JOIN BGTCD ON bgtcd.CO_CD = bgticf.CO_CD AND BGTCD.BGT_CD = BGTICF.BGT_CD
	    <if test="bgtFg == 2">
	        JOIN pjt ON pjt.CO_CD = bgticf.CO_CD AND pjt.PJT_CD = bgticf.MGT_CD
	    </if>
	    <if test="bgtFg == 1">
	        JOIN DEPT ON DEPT.CO_CD = BGTICF.CO_CD AND DEPT.DEPT_CD = BGTICF.MGT_CD
	    </if>
	    JOIN emp on emp.CO_CD = bgticf.CO_CD AND emp.EMP_ID = bgticf.MODIFY_ID
	    WHERE BGTICF.CO_CD = #{coCd}
	        AND BGTICF.BGT_CD = #{bgtCd}
	        AND BGTICF.GISU = #{gisu}
	        AND BGTCD.BOTTOM_fG = 0
	        AND BGTICF.BGT_FG = #{bgtFg}
	    ORDER BY BGTICF.INSERT_DT
	</select>

	
	<insert id="insertBgtICF" parameterType="BgtICF">
	    <selectKey keyProperty="sq" resultType="int" order="BEFORE">
	        SELECT NVL(MAX(SQ),0) + 1 AS sq FROM BGTICF WHERE CO_CD = #{coCd} AND BGT_CD = #{bgtCd}
	    </selectKey>
	    INSERT INTO BGTICF (
	        CO_CD, GISU, SQ, DIV_CD, DEPT_CD, MGT_CD, BGT_CD, BGT_FG, BOTTOM_NM,
	        CARR_AM, CARR_AM1, CARR_AM2, CARR_AM3, EMP_CD, REM_DC, BGT_TY,
	        INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP
	    )
	    VALUES (
	        #{coCd}, #{gisu}, #{sq}, #{divCd}, #{deptCd}, #{mgtCd}, #{bgtCd}, #{bgtFg},#{bottomNm},
	        #{carrAm}, #{carrAm1}, #{carrAm2}, #{carrAm3}, #{empCd}, #{remDc}, "직접입력",
	        #{insertId}, now(), #{insertIp}, #{modifyId}, now(), #{modifyIp}
	    )
	</insert>


	<update id="updateBgtICF" parameterType="BgtICF">
	    UPDATE BGTICF
	    SET
	        CO_CD = #{coCd},
	        GISU = #{gisu},
	        SQ = #{sq},
	        DIV_CD = #{divCd},
	        DEPT_CD = #{deptCd},
	        MGT_CD = #{mgtCd},
	        BGT_CD = #{bgtCd},
	        BGT_FG = #{bgtFg},
	        BOTTOM_NM = #{bottomNm},
	        CARR_AM = #{carrAm},
	        CARR_AM1 = #{carrAm1},
	        CARR_AM2 = #{carrAm2},
	        CARR_AM3 = #{carrAm3},
	        EMP_CD = #{empCd},
	        REM_DC = #{remDc},
	        BGT_TY = "직접입력",
	        MODIFY_ID = #{modifyId},
	        MODIFY_DT = #{modifyDt},
	        MODIFY_IP = #{modifyIp}
	    WHERE
	        CO_CD = #{coCd} AND
	        GISU = #{gisu} AND
	        SQ = #{sq} AND
	        DIV_CD = #{divCd} AND
	        DEPT_CD = #{deptCd} AND
	        BGT_CD = #{bgtCd} AND
	        BGT_FG = #{bgtFg}
	</update>
	
	<delete id="deleteBgtICF" parameterType="java.util.List">
	    DELETE FROM BGTICF
	    WHERE
	        CO_CD = #{coCd}
	        AND BGT_CD = #{bgtCd}
	        AND sq IN
	        <foreach item="item" index="index" collection="sqList" open="(" separator="," close=")">
	            #{item}
	        </foreach>
	</delete>
	
	<select id="getSumBgtICFByCoCdAndBgtCd" parameterType="BgtCD" resultType="double">
		WITH RECURSIVE CTE AS (
		    SELECT
		        bgtcd.BGT_CD,
		        bgtcd.BGT_NM,
		        bgtcd.PARENTCD,
		        bgtcd.BGT_CD AS CD_PATH,
		        1 AS LEVEL,
		        NVL(bgticf.CARR_AM, 0) AS carr_am,
		        BGTICF.SQ,
		        bgticf.GISU
		    FROM bgtcd
		    LEFT JOIN bgticf ON bgticf.BGT_CD = bgtcd.BGT_CD
		    WHERE PARENTCD IS NULL
		    AND bgtcd.CO_CD = #{coCd}
		    UNION ALL
		    SELECT
		        P.BGT_CD,
		        P.BGT_NM,
		        P.parentCd,
		        CONCAT(CTE.CD_PATH, '>', P.BGT_NM) AS CD_PATH,
		        1 + LEVEL AS LEVEL,
		        NVL(bgticf.CARR_AM, 0) AS carr_am,
		        BGTICF.SQ,
		        bgticf.GISU
		    FROM bgtcd P
		    INNER JOIN CTE ON P.parentCd = CTE.BGT_CD
		    LEFT JOIN bgticf ON bgticf.BGT_CD = P.BGT_CD
		    WHERE P.CO_CD = #{coCd}
		)
		SELECT
		  	NVL(SUM(CARR_AM),0) as CARR_AM
		FROM (
		    SELECT DISTINCT BGT_CD, CARR_AM, SQ
		    FROM CTE
		    WHERE CTE.CD_PATH LIKE (
		        SELECT CONCAT(CD_PATH, '%') FROM CTE WHERE BGT_CD = #{bgtCd} LIMIT 1
		    )
		    AND CTE.gisu = #{gisu}
		) TEMPTABLE


	</select>
	
	<!-- DELETE FROM BGTICF
	    WHERE
	        CO_CD = #{coCd} AND
	        GISU = #{gisu} AND
	        SQ = #{sq} AND
	        DIV_CD = #{divCd} AND
	        DEPT_CD = #{deptCd} AND
	        MGT_CD = #{mgtCd} AND
	        BGT_CD = #{bgtCd} AND
	        BGT_FG = #{bgtFg} AND
	        BGT_CNT = #{bgtCnt} AND
	        BOTTOM_CD = #{bottomCd} -->

</mapper>