<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.CoMapper">

	<select id="getCoList" resultType="Co">
		SELECT * FROM CO;
	</select>

	<select id="getCo" parameterType="int" resultType="Co">
		SELECT CO_CD, CO_NM, GISU, FR_DT, TO_DT, JONGMOK, BUSINESS_TYPE, CO_NB, CEO_NM, CO_ZIP, CO_ADDR, CO_ADDR1
		FROM CO WHERE CO_CD = #{coCd};
	</select>
	
	<select id="getCompany" parameterType="int" resultType="Co">
		SELECT CO_CD, CO_NM, GISU, FR_DT, TO_DT, JONGMOK, BUSINESS_TYPE, CO_NB, CEO_NM, CO_ZIP, CO_ADDR, CO_ADDR1
		FROM CO WHERE CO_CD = #{coCd};
	</select>

	<select id="getNum" resultType="int">
		SELECT subquery.NUMBER
		FROM (SELECT COUNT(*) AS NUMBER FROM co) AS subquery;
	</select>

	<insert id="insertCo" parameterType="Co">
		INSERT INTO CO
		(CO_CD,CO_NM, GISU, FR_DT,TO_DT,
		JONGMOK, BUSINESS_TYPE, CO_NB, CEO_NM, CO_ZIP, CO_ADDR,
		CO_ADDR1)
		VALUES
		(#{coCd}, #{coNm}, #{gisu}, #{frDt}, #{toDt}, #{jongmok}, #{businessType}, #{coNb},
		#{ceoNm}, #{coZip},
		#{coAddr}, #{coAddr1});
	</insert>
	
	<update id="updateCo" parameterType="Co" >
		UPDATE CO SET 
		CO_CD =#{coCd}, CO_NM = #{coNm},GISU = #{gisu}, FR_DT = #{frDt}, TO_DT = #{toDt}, JONGMOK = #{jongmok}, BUSINESS_TYPE = #{businessType}, CO_NB = #{coNb}, CEO_NM = #{ceoNm}, 
		CO_ZIP = #{coZip}, CO_ADDR = #{coAddr}, CO_ADDR1 = #{coAddr1}
		WHERE CO_CD=#{coCd}
	</update>
	
	<delete id="deleteCo" parameterType="int" >
		DELETE from co WHERE CO_CD = #{coCd}; 
	</delete>
	
	<select id="getCoNm" parameterType="String" resultType="Co">
		SELECT CO_CD FROM CO WHERE CO_NM = #{coNm};
	</select>
	
	<select id="getCoBycoCdAndcoNm" parameterType="Co" resultType="Co">
	 SELECT CO_CD, CO_NM 
	    FROM CO
	    WHERE (
	            CO_CD LIKE CONCAT('%', #{keyword}, '%')
	            OR
	            CO_NM LIKE CONCAT('%', #{keyword}, '%')
	        );
	</select>

</mapper>