<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.DeptMapper">

	<select id="getDivDept">
		SELECT *
		FROM DIVS
		LEFT JOIN DEPT ON DIVS.CO_CD = DEPT.CO_CD AND DIVS.DIV_CD = DEPT.DIV_CD
		WHERE DIVS.CO_CD = #{coCd} 
		ORDER BY INSERT_DT ASC;
	</select>
	
 	<select id="findDeptByCoCd" parameterType="Dept" resultType="Dept">
		SELECT DIVS.CO_CD, DIVS.DIV_CD, DIVS.DIV_NM, DEPT.DEPT_NM, DEPT.DEPT_CD,DEPT.DEPT_ZIP,DEPT.DEPT_ADDR,DEPT.DEPT_ADDR1,DEPT.INSERT_DT
		FROM DEPT
		JOIN DIVS ON DIVS.CO_CD = DEPT.CO_CD 
			AND 
			DIVS.DIV_CD = DEPT.DIV_CD
		WHERE dept.CO_CD = #{coCd} 
		<if test="divCd != null and divCd != ''">
			AND DIVS.DIV_CD = #{divCd} 
		</if>
		<if test="deptCd != null and deptCd != ''">
			AND DEPT_CD = #{deptCd}
		</if>
			
		ORDER BY INSERT_DT ASC;
	</select>

	<select id="getDepartment" parameterType="Dept" resultType="Dept">
		SELECT CO_CD, DIV_CD, DEPT_CD, DEPT_NM, DEPT_ZIP, DEPT_ADDR, DEPT_ADDR1 
		FROM DEPT 
		WHERE CO_CD = #{coCd} AND DEPT_CD = #{deptCd};
	</select>

	<insert id="insertDept" parameterType="Dept">
		INSERT INTO DEPT
		(CO_CD,
		DIV_CD, DEPT_CD, DEPT_NM, DEPT_ZIP, DEPT_ADDR, DEPT_ADDR1, INSERT_ID)
		VALUES
		(#{coCd}, #{divCd}, #{deptCd}, #{deptNm},
		#{deptZip},#{deptAddr},
		#{deptAddr1}, #{insertId});
	</insert>

	<delete id="deleteDept" parameterType="Dept">
		DELETE from DEPT WHERE
		DEPT_CD = #{deptCd};
	</delete>

	<update id="updateDept" parameterType="Dept">
		UPDATE DEPT SET
		DEPT_NM =
		#{deptNm},
		DEPT_ZIP = #{deptZip}, DEPT_ADDR = #{deptAddr}, DEPT_ADDR1 =
		#{deptAddr1}
		WHERE
		DEPT_CD=#{deptCd}
	</update>
	
	<select id="getDeptBydeptCdAnddeptNm" parameterType="Dept"
		resultType="Dept">
		SELECT DEPT_CD, DEPT_NM
		FROM DEPT
		WHERE CO_CD = #{coCd}
		<if test="keyword != null and keyword != ''">
			AND (
				DEPT_CD LIKE CONCAT('%', #{keyword}, '%')
				OR
				DEPT_NM LIKE CONCAT('%', #{keyword}, '%')
				);
		</if>
	</select>

</mapper>
