<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.DivsMapper">
	
	<select id="findDivCdAndDivNmByCoCd" parameterType="int" resultType="Divs">
		SELECT DIV_CD, DIV_NM FROM DIVS WHERE CO_CD = #{coCd};
	</select>
	
	<select id="findDivCdAndDivNmByCoCdAndKeyword" parameterType="Divs" resultType="Divs">
	  SELECT *
	  FROM Divs
	  WHERE 
	  	CO_CD = #{coCd}
    	AND (
        DIV_CD LIKE CONCAT('%', #{keyword}, '%')
        OR
        DIV_NM LIKE CONCAT('%', #{keyword}, '%')
        )
	</select>
	
	<!-- <select id="findDivCdAndDivNmByKeyword" parameterType="Divs" resultType="Divs">
	  SELECT *
	  FROM Divs
	  WHERE CO_CD = #{coCd}
	    AND (
	      <foreach item="item" collection="keyword" separator="OR">
	        CONCAT(DIV_CD, DIV_NM) LIKE CONCAT('%', #{item}, '%')
	      </foreach>
	    )
	</select> -->


</mapper>