<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.DivsMapper">

	<select id="findDivByCoCdAndKeyword" parameterType="Divs"
		resultType="Divs">
		SELECT DIV_CD, DIV_NM
		FROM DIVS
		WHERE CO_CD = #{coCd}
		<if test="keyword != null and keyword != ''">
			AND (
			DIV_CD LIKE CONCAT('%', #{keyword}, '%')
			OR
			DIV_NM LIKE
			CONCAT('%', #{keyword}, '%')
			)
		</if>
	</select>

	<select id="findDivsByCoCdAndKeyword" parameterType="Divs"
		resultType="Divs">
		SELECT DIV_CD, DIV_NM
		FROM DIVS
		WHERE CO_CD = #{coCd}
		<if test="keyword != null and keyword != ''">
			AND (
			DIV_CD LIKE CONCAT('%', #{keyword}, '%')
			OR
			DIV_NM LIKE
			CONCAT('%', #{keyword}, '%')
			)
		</if>
	</select>

	<select id="getDivBydivCdAnddivNm" parameterType="Divs"
		resultType="Divs">
		SELECT DIV_CD, DIV_NM
		FROM DIVS
		WHERE CO_CD = #{coCd}
			AND (
				DIV_CD LIKE CONCAT('%', #{keyword}, '%')
				OR
				DIV_NM LIKE CONCAT('%', #{keyword}, '%')
			);
	</select>

	<select id="getDivsList" resultType="Divs">
		SELECT * FROM DIVS;
	</select>

	<select id="getDivision" parameterType="int" resultType="Divs">
		SELECT
		CO_CD, DIV_CD, DIV_NM, CEO_NM, JONGMOK, BUSINESS_TYPE, DIV_NB, TO_NB,
		DIV_ZIP, DIV_ADDR, DIV_ADDR1
		FROM DIVS WHERE CO_CD = #{coCd};
	</select>

	<select id="getDiv" parameterType="int" resultType="Divs">
		SELECT
		CO_CD,
		DIV_CD, DIV_NM, CEO_NM, JONGMOK, BUSINESS_TYPE, DIV_NB, TO_NB,
		DIV_ZIP, DIV_ADDR, DIV_ADDR1
		FROM DIVS WHERE DIV_CD = #{divCd};
	</select>

	<select id="getCoCd" parameterType="int" resultType="Integer">
		SELECT
		CO_CD
		FROM DIVS WHERE DIV_CD = #{divCd};
	</select>

	<delete id="deleteDivs" parameterType="int">
		DELETE from DIVS WHERE
		DIV_CD = #{divCd};
	</delete>

	<update id="updateDivs" parameterType="Divs">
		UPDATE DIVS SET
		DIV_NM =
		#{divNm},CEO_NM = #{ceoNm}, JONGMOK = #{jongmok}, BUSINESS_TYPE =
		#{businessType}, DIV_NB= #{divNb},TO_NB=#{toNb},
		DIV_ZIP = #{divZip},
		DIV_ADDR = #{divAddr}, DIV_ADDR1 = #{divAddr1}, MODIFY_ID =
		#{modifyId}
		WHERE
		DIV_CD=#{divCd}
	</update>

	<insert id="insertDivs" parameterType="Divs">
		INSERT INTO DIVS
		(CO_CD,
		DIV_NM, CEO_NM, JONGMOK, BUSINESS_TYPE, DIV_NB, TO_NB, DIV_ZIP,
		DIV_ADDR, DIV_ADDR1, INSERT_ID)
		VALUES
		(#{coCd}, #{divNm}, #{ceoNm},
		#{jongmok},
		#{businessType}, #{divNb},
		#{toNb}, #{divZip},#{divAddr},
		#{divAddr1}, #{insertId});
	</insert>

	<select id="findDivByCoCd" parameterType="int" resultType="Divs">
		SELECT DIV_CD, DIV_NM
		FROM DIVS
		WHERE CO_CD = #{coCd}
	</select>

</mapper>