<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.EmployeeMapper">

	<select id="getTime" resultType="String">
		SELECT DATE_FORMAT(NOW(),
		'%Y-%m-%d %H:%i:%s');
	</select>

	<select id="getEmployee" parameterType="String" resultType="Employee">
		SELECT * FROM EMPLOYEE WHERE
		D_ID = #{dId};
	</select>

	<select id="getEmployeeList" resultType="Employee">
		SELECT * FROM EMPLOYEE;
	</select>

	<insert id="insertEmployee" parameterType="Employee">
		INSERT INTO EMPLOYEE 
			(CO_CD, D_ID, D_PS, D_EMAIL, D_TEL, D_NAME, D_BDAY, D_ADR, D_ZP, D_SX, D_BCD, D_CD, D_OD)
		VALUES 
			(#{coCode}, #{dId}, #{dPs}, #{dEmail}, #{dTel}, #{dName}, #{dBday}, #{dAdr}, #{dZp}, #{dSx}, #{dBcd}, #{dCd}, #{dOd})
	</insert>
	
 	<update id="updateEmployee" parameterType="Employee">
		UPDATE EMPLOYEE 
		SET 
			D_PS = #{dPs}, 
			D_EMAIL = #{dEmail}, 
			D_TEL = #{dTel}, 
			D_NAME = #{dName}, 
			D_BDAY = #{dBday},
			D_ADR = #{dAdr}, 
			D_ZP = #{dZp}, 
			D_SX = #{dSx}, 
			D_BCD = #{dBcd}, 
			D_CD = #{dCd}, 
			D_OD = #{dOd}
		WHERE D_ID = #{dId}
	</update>

	<delete id="deleteEmployee" parameterType="String">
		DELETE FROM EMPLOYEE WHERE D_ID = #{dId}
	</delete>

</mapper>