<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.PgrMapper">
	
	<select id="findPgrByCoCd" parameterType="Pgr" resultType="Pgr">
		SELECT * FROM PGR WHERE CO_CD = #{coCd}
	</select>
	
	<insert id="insertPgr" parameterType="Pgr">
		INSERT INTO PGR (CO_CD, PGR_CD, PGR_NM)
		VALUES (#{coCd}, #{pgrCd}, #{pgrNm});
	</insert>
	
	<update id="updatePgr" parameterType="Pgr">
		UPDATE PGR 
		SET PGR_CD = #{pgrCd}, PGR_NM = #{pgrNm}
		WHERE CO_CD = #{coCd} AND PGR_CD = #{pgrCd}	
	</update>
	
	<delete id="deletePgr" parameterType="Pgr">
		DELETE FROM PGR WHERE CO_CD = #{coCd} AND PGR_CD = #{pgrCd}
	</delete>
	
	<select id="findPgrByNm" parameterType="Pgr" resultType="String">
		SELECT PGR_NM FROM PGR WHERE CO_CD = #{coCd} AND PGR_CD = #{pgrCd}
	</select>
	
	<select id="getPgrBy" parameterType="Pgr" resultType="Pgr">
	 SELECT pgr_CD, pgr_NM 
	    FROM PGR
	    WHERE CO_CD = #{coCd} 
	    <if test="keyword != null and keyword != ''">
		    AND (
		        pgr_CD LIKE CONCAT('%', #{keyword}, '%')
		        OR
		        pgr_NM LIKE CONCAT('%', #{keyword}, '%')
	        );
        </if>
	</select>

</mapper>