<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.PjtMapper">


	<select id="getPjtList" resultType="Pjt">
		SELECT * FROM PJT
		WHERE
		co_CD =
		#{coCd}
		ORDER BY insert_DT DESC, pjt_CD DESC
	</select>

	<!-- <update id="updatePjt" parameterType="Pjt"> UPDATE PJT SET pgr_NM = 
		#{pgrNm}, WHERE co_CD = #{coCd} </update> -->


	<select id="getSelPjt" resultType="Pjt">
		SELECT * FROM PJT WHERE co_CD
		= #{coCd} AND pjt_CD = #{pjtCd}
	</select>

	<select id="getSelPjtList" resultType="Pjt">
		SELECT * FROM PJT
		WHERE
		pjt_CD = #{pjtCd}
		AND
		co_CD = #{coCd}
	</select>

	<update id="updatePjt" parameterType="Pjt">
		UPDATE PJT
		SET
		pgr_CD = #{pjt.pgrCd}, pgr_NM = #{pjt.pgrNm}, pjt_NM = #{pjt.pjtNm},
		pr_DT = #{pjt.prDt}, to_DT = #{pjt.toDt}, prog_FG = #{pjt.progFg},
		apjt_NM = #{pjt.apjtNm}, start_DT = #{pjt.startDt}, note = #{pjt.note}
		WHERE co_CD = #{coCd} AND pjt_CD = #{pjt.pjtCd}
	</update>


	<insert id="insertPjt" parameterType="Pjt">
		INSERT INTO PJT
		(co_CD, pgr_CD, pgr_NM, pjt_CD, pjt_NM, pr_DT, to_DT, prog_FG, apjt_NM,
		start_DT, note, insert_DT)
		VALUES
		(
		#{pjt.coCd}, #{pjt.pgrCd}, #{pjt.pgrNm}, #{pjt.pjtCd}, #{pjt.pjtNm}, #{pjt.prDt}, #{pjt.toDt}, #{pjt.progFg},
		#{pjt.apjtNm}, #{pjt.startDt}, #{pjt.note}, NOW()
		)
	</insert>
	<delete id="deletePjt" parameterType="Pjt">
		DELETE FROM PJT
		WHERE
		CO_CD = #{pjt.coCd}
		AND
		pjt_CD = #{pjt.pjtCd}
	</delete>
	
	<select id="selPgrBy" parameterType="Pjt" resultType="Pjt">
	 SELECT *
	    FROM PJT
	    WHERE CO_CD = #{pjt.coCd} AND (
	            pgr_CD LIKE CONCAT('%', #{pjt.pgrCd}, '%')
	            AND
	            pgr_NM LIKE CONCAT('%', #{pjt.pgrNm}, '%')
	            
	        );
	</select>
	
	<select id="getPgrBy" parameterType="Pjt" resultType="Pjt">
	 SELECT pgr_CD, pgr_NM 
	    FROM PGR
	    WHERE CO_CD = #{coCd} 
	    AND
           (
           pgr_CD LIKE CONCAT('%', #{keyword}, '%')
           OR
           pgr_NM LIKE CONCAT('%', #{keyword}, '%')
           
	        );
	</select>
	
	<select id="selPjtBy" parameterType="Pjt" resultType="Pjt">
	 SELECT *
	    FROM PJT
	    WHERE CO_CD = #{pjt.coCd} AND (
	            pjt_CD LIKE CONCAT('%', #{pjt.pjtCd}, '%')
	            AND
	            pjt_NM LIKE CONCAT('%', #{pjt.pjtNm}, '%')
	            
	        );
	</select>
	
	<select id="getPjtBy" parameterType="Pjt" resultType="Pjt">
	 SELECT pjt_CD, pjt_NM 
	    FROM PJT
	    WHERE CO_CD = #{coCd} AND (
	            pjt_CD LIKE CONCAT('%', #{keyword}, '%')
	            OR
	            pjt_NM LIKE CONCAT('%', #{keyword}, '%')
	            
	        );
	</select>


	<select id="findPjtByCoCdAndKeyword" parameterType="Pjt" resultType="Pjt">
		SELECT PJT_CD, PJT_NM
			FROM PJT
			WHERE CO_CD = #{coCd}
			<if test="keyword != null and keyword != ''">
				AND (
				PJT_CD LIKE CONCAT('%', #{keyword}, '%')
				OR
				PJT_NM LIKE
				CONCAT('%', #{keyword}, '%')
				)
			</if>
	</select>
	
	<select id="getGroupPjt" parameterType="Pjt" resultType="Pjt">
		SELECT *
			FROM PJT
			WHERE CO_CD = #{pjt.coCd}
		<if test="pjt.progFg != '전체'">
   			AND PROG_FG LIKE CONCAT('%', #{pjt.progFg}, '%')
		</if>
		<if test="pjt.pjtCd != null and pjt.pjtCd != ''">
			AND pjt_CD LIKE CONCAT('%', #{pjt.pjtCd}, '%')
		</if>
		<if test="pjt.pgrCd != null and pjt.pgrCd != ''">
			AND pgr_CD LIKE CONCAT('%', #{pjt.pgrCd}, '%')
		</if>
		<if test="pjt.prDt != null">
		    AND pr_DT >= #{pjt.prDt}
		</if>      
		ORDER BY insert_DT DESC, pjt_CD DESC 	
	</select>
	
	<!-- <select id="conditionPjtSelect" parameterType="Pjt" resultType="Pjt">
		SELECT *
		FROM PJT
		WHERE CO_CD = #{coCd}
		<if test="pjt.progFg != '전체'">
			AND PROG_FG = #{progFg}
		</if>
		<if test="keyword != null and keyword != ''">
			AND CONCAT(pjt_Cd , ". ", pjt_Nm) LIKE #{keyword};
		</if>
		<if test="keyword2 != null and keyword2 != ''">
			AND CONCAT(pgr_Cd , ". ", pgr_Nm) LIKE #{keyword2};
		</if>
		<if test="prDt != null and toDt != null">
		AND pr_DT >= #{prDt} AND to_DT <= #{toDt}
    	</if>
    	SELECT *
		FROM PJT
  		WHERE CO_CD = #{pjt.coCd}
        AND PROG_FG = #{pjt.progFg}
        AND CONCAT(pjt_Cd , '. ', pjt_Nm) LIKE CONCAT('%', #{keyword}, '%')
        AND CONCAT(pgr_Cd , '. ', pgr_Nm) LIKE CONCAT('%', #{keyword2}, '%')
        AND pr_DT >= #{pjt.prDt} OR to_DT <= #{pjt.toDt}
	</select> -->
</mapper>