<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.acctmgmt.mapper.SysCfgMapper">


	<select id="getConfigList" resultType="SysCfg">
		SELECT * FROM SYSCFG
		WHERE
		co_CD = #{coCd}
		ORDER BY sys_CD
	</select>

	<select id="getConfig" resultType="SysCfg">
		SELECT * FROM SYSCFG
		WHERE
		co_CD = #{coCd}
		AND
		sys_CD =#{sysCd}
	</select>

	<update id="updateConfig" parameterType="SysCfg">
		UPDATE SYSCFG
		SET sys_YN = #{sysYn}, modify_DT = NOW()
		WHERE sys_CD = #{sysCd}
	</update>

</mapper>